:root {
    background: linear-gradient(90deg, navy 0%, blue 50%, purple 100%);
}
    * {
    font-family: "Oxanium", sans-serif;
    }
    
    /* Background */
    #css-zen-garden {
    background-image: url(/imgs/space-theme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    /* Don’t edit the above. */
    
    /* Boxes */
    .intro, .benefits, .participation, .requirements, .explanation {
    background: linear-gradient(90deg, #4B93B4 0%, #4B65B4 33%, #6A5F79 56%, #A5919D 100%);
    flex-direction: column;
    border-radius: 2em;
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    text-align: center;
    }
    .sidebar {
    background: linear-gradient(90deg, #4B93B4 0%, #4B65B4 33%, #6A5F79 56%, #A5919D 100%);
    flex-direction: column;
    border-radius: 2em;
    transition-duration: 250ms;
    transition-delay: 0ms;
    transition-timing-function: ease;
    }
    .page-wrapper {
    background: linear-gradient(90deg, #4B93B4 0%, #4B65B4 33%, #6A5F79 56%, #A5919D 100%);
    border-radius: 1em;
    width: 45%;
    background-color: black;
    }
    #design-archives {
    float: right;
    direction: rtl;
    transform: translateY(-5em);
    }
    .intro::after, .benefits::after, .participation::after, .requirements::after, .explanation::after {
    content: url(/imgs/Earth\ rotato.gif);
    display: flex;
    justify-content: center;
    scale: 80%;
    }
    .intro::before, .benefits::before, .participation::before, .requirements::before, .explanation::before {
    background: white;
    }

    /* Hover */
    .intro:hover, .benefits:hover, .participation:hover, .requirements:hover, .sidebar:hover, .explanation:hover {
    background: linear-gradient(90deg, #4B93B4, #A95167 0.3%, #66A384 33%, #BAA6AF 56%, #6D6285 100%);
    transform: translateX(1em);
    }
    a:focus {
        background-color: white;
    }
    a:active {
        background-color: rgb(97, 179, 97);
    }
    a:link {
        color: aqua;
        padding: 0.1em;
        border-radius: 0.3em;
    }
    a:visited {
        color: magenta;
    }
    ::selection {
        color: silver;
        background: maroon;
    }
    
    /* Centering Headers */
    .intro > header > h1 {
    text-align: center
    }
    .benefits > h3 {
    text-align: center
    }
    .explanation > h3 {
    text-align: center
    }
    .participation > h3 {
    text-align: center
    }
    .requirements > h3 {
    text-align: center
    }
    
    /* Texts */
    p {
        text-align: center;
    }
    /* Logos */